In [17]:
import pandas as pd
df=pd.read_csv("C:/Users/bhava/OneDrive/Pictures/Desktop/41.csv")
print(df)

            sl. No  national mortality rate(per 1000*lb)  \
0        all india                                  26.0
1   madhya pradesh                                  35.0
2            assam                                  26.0
3           odisha                                  36.0
4    uttar pradesh                                  32.0
5       rajashthan                                  32.0
6        meghalaya                                   NaN
7     chhattisgarh                                  28.0
8            bihar                                  27.0
9   andhra pradesh                                  26.0
10         haryana                                  23.0
11         gujarat                                  24.0
12       telangana                                  25.0

    infant mortality rate(per 1000 lb)  under 5 mortality rate(per 1000 lb)
0                                   39                                 45.0
1                                   52                                 65.0
2                                   49                                 66.0
3                                   49                                 60.0
4                                   48                                 57.0
5                                   46                                 51.0
6                                   46                                  NaN
7                                   43                                 49.0
8                                   42                                 53.0
9                                   39                                 40.0
10                                  36                                 40.0
11                                  35                                 41.0
12                                  35                                 37.0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   sl. No                                13 non-null     object
 1   national mortality rate(per 1000*lb)  12 non-null     float64
 2   infant mortality rate(per 1000 lb)    13 non-null     int64
 3   under 5 mortality rate(per 1000 lb)   12 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 544.0+ bytes

In [20]:
df.describe()

,national mortality rate(per 1000*lb),infant mortality rate(per 1000 lb),under 5 mortality rate(per 1000 lb)
count,12.000000,13.000000,12.000000
mean,28.333333,43.000000,50.333333
std,4.334499,5.816643,10.066446
min,23.000000,35.000000,37.000000
25%,25.750000,39.000000,40.750000
50%,26.500000,43.000000,50.000000
75%,32.000000,48.000000,57.750000
max,36.000000,52.000000,66.000000

In [21]:
df.tail

<bound method NDFrame.tail of             sl. No  national mortality rate(per 1000*lb)  \
0        all india                                  26.0
1   madhya pradesh                                  35.0
2            assam                                  26.0
3           odisha                                  36.0
4    uttar pradesh                                  32.0
5       rajashthan                                  32.0
6        meghalaya                                   NaN
7     chhattisgarh                                  28.0
8            bihar                                  27.0
9   andhra pradesh                                  26.0
10         haryana                                  23.0
11         gujarat                                  24.0
12       telangana                                  25.0

    infant mortality rate(per 1000 lb)  under 5 mortality rate(per 1000 lb)
0                                   39                                 45.0
1                                   52                                 65.0
2                                   49                                 66.0
3                                   49                                 60.0
4                                   48                                 57.0
5                                   46                                 51.0
6                                   46                                  NaN
7                                   43                                 49.0
8                                   42                                 53.0
9                                   39                                 40.0
10                                  36                                 40.0
11                                  35                                 41.0
12                                  35                                 37.0  >

In [22]:
df.head()

,sl. No,national mortality rate(per 1000*lb),infant mortality rate(per 1000 lb),under 5 mortality rate(per 1000 lb)
0,all india,26.0,39,45.0
1,madhya pradesh,35.0,52,65.0
2,assam,26.0,49,66.0
3,odisha,36.0,49,60.0
4,uttar pradesh,32.0,48,57.0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   sl. No                                13 non-null     object
 1   national mortality rate(per 1000*lb)  12 non-null     float64
 2   infant mortality rate(per 1000 lb)    13 non-null     int64
 3   under 5 mortality rate(per 1000 lb)   12 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 544.0+ bytes

In [26]:
df.head()

,sl. No,national mortality rate(per 1000*lb),infant mortality rate(per 1000 lb),under 5 mortality rate(per 1000 lb)
0,all india,26.0,39,45.0
1,madhya pradesh,35.0,52,65.0
2,assam,26.0,49,66.0
3,odisha,36.0,49,60.0
4,uttar pradesh,32.0,48,57.0

In [27]:
df.at

In [28]:
df.iat

In [30]:
df.loc()

In [40]:
df.dtypes.value_counts()

float64    2
object     1
int64      1
dtype: int64

In [41]:
df.select_dtypes(exclude=[object,int])

    national mortality rate(per 1000*lb)  under 5 mortality rate(per 1000 lb)
0                                   26.0                                 45.0
1                                   35.0                                 65.0
2                                   26.0                                 66.0
3                                   36.0                                 60.0
4                                   32.0                                 57.0
5                                   32.0                                 51.0
6                                    NaN                                  NaN
7                                   28.0                                 49.0
8                                   27.0                                 53.0
9                                   26.0                                 40.0
10                                  23.0                                 40.0
11                                  24.0                                 41.0
12                                  25.0                                 37.0

In [42]:
df['national mortality rate(per 1000*lb)'].unique()

array([26., 35., 36., 32., nan, 28., 27., 23., 24., 25.])

In [49]:
df['infant mortality rate(per 1000 lb)'].unique()

array([39, 52, 49, 48, 46, 43, 42, 36, 35], dtype=int64)

In [50]:
df['under 5 mortality rate(per 1000 lb)'].unique()

array([45., 65., 66., 60., 57., 51., nan, 49., 53., 40., 41., 37.])